
{{#partial "content"}}


    <h2>{{idea.formattedVoteCount}}</h2>


    <ul>
        {{#each idea.voters}}
            <li> {{ this }} </li>
        {{/each}}
    </ul>

    <form action="/ideas/{{ idea.courseTitle }}/vote" method="post">
        <button>Add My Vote!</button>
    </form>
    <br>

    <a href="/ideas"><button>Back to Ideas</button></a>



{{/partial}}

{{#partial "title"}}
    Course Title: {{idea.courseTitle}}
{{/partial}}

{{> base.hbs}}
