{{#partial "content"}}

    <h1>List of Ideas</h1>

    <ul>
        {{#each ideas}}
            <li>
                <form action="/ideas/{{slug}}/vote" method="post">
                    <a href="/ideas/{{slug}}"> {{courseTitle}} </a> <button>Vote</button> ({{formattedVoteCount}})
                </form>

            </li>
        {{/each}}
    </ul>

    <form action="/ideas" method="post">
        <input type="text" placeholder="Course Name" name="courseName">
        <button>Add Idea</button>
    </form>


{{/partial}}

{{> base.hbs}}