{{#partial "title"}}
    Course Title: {{idea.courseTitle}}
{{/partial}}

{{#partial "content"}}


    <h2>Voters:</h2>

    <p>
    <ul>
        {{#each idea.voters}}
            <li> {{this}} </li>
        {{/each}}
    </ul>

    <form action="/ideas/{{idea.courseTitle}}/vote" method="post">
        <button>Add My Vote!</button>
    </form>

    </p>

{{/partial}}

{{> base.hbs}}
