<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My ToDo List</title>
</head>
<body>
<h1>Here's the app</h1>
<h1> {{#if username}}
    Welcome, {{username}}!
{{else}}
    <form action="/signin" method="post">
        <input type="text" placeholder="Username" name="username" />
        <button>Sign In</button>
    </form>
{{/if}}</h1>

</body>
</html>