
{{#partial "content"}}

    <h1> {{#if username}}
        Welcome, {{username}}!
        <p>View <a href="/ideas">all course ideas</a>.</p>
    {{else}}
        <form action="/signin" method="post">
            <input type="text" placeholder="Username" name="username" />
            <button>Sign In</button>
        </form>
    {{/if}}</h1>
{{/partial}}

{{> base.hbs}}

